<h2> Your Portfolio </h2>

Budget:<%= @portfolio.budget %><br/><br/>
Budget:<%= @portfolio.location %><br/><br/>
Github:<%= @portfolio.githuburl %><br/><br/>
<%= @portfolio.description %><br/><br/></p>
