<h1>Welcome to Devfolio</h1>
<p><%= link_to "Sign_in", new_user_session_path %></p>
<p><%= link_to "Sign_out", destroy_user_session_path %></p>

<h3>Ready to create your portfolio?<h3>
<p><%= link_to "Sign_up", new_user_registration_path %></p>



